<!-- <app-header></app-header> -->
<!-- <p>about works!</p> -->

<div align="center">
    <b><font size="+3" color="#C6AEC7"><u>About Us</u><br></font></b>
    <table width="830">
    <font size="4" color="white"><p>We initially built online site as a solution for our friends & teacher they were in need of a website but the process frustrated them.<br>
    It was just too complicated, expensive and confusing- they spent time & money but many of them gave up even before completing the process.
    We decided to solve it.<br>
    Our team of web-design professionals and developers will make sure you always have the finest collection of online products,easiest Purchase and Seeing, all so you will have a great sustainable website.<br>
    Kanishka DesignerCreator is referred by Google & Amazon, creating robust and reliable foundations for  website. <br>
    In addition, we submit the designs to our catalog and receive. If you’d like to join our web site community, please send your portfolio and contact info to<br> <font color="Red" size="5">Rakesh Designer@Creator.com</font><br><br></font>
    <font color="white"> <b>Contact Us:</b><br>
    Rakesh Designer Creator <br>
    info@Rakesh Designer.com<br>
    Near Padmanagar 
    Bhiwandi : 421302<br><br><br><br><br><br><br><br><br><br><br>
    </font>
    <tr>
    
    </table>
</div>
    
<hr>
	<div align="center">
			<font size="3" color="white"> 
			While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2020 by Refsnes Data. All Rights Reserved.
			</font>
	</div>








